#div1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(18, 149, 172);
    padding: 20px;
  }
  
  #div2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(197, 48, 197);
    padding: 20px;
  }
  
  #div3 {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(111, 32, 214);
    padding: 20px;
  }
  
  #div4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgba(57, 172, 124, 0.651);
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }